@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');

:root{
    --btnColor: #0095F6;
}
*{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    box-sizing: border-box;
    width: 35vw;
    padding: 40px;
    font-family: 'DynaPuff', cursive;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-family: 'DynaPuff', cursive;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: red;
    -webkit-text-stroke: 1px black;
    margin: 1.5vw 0;
}

.header p{
    text-align: center;
    font-size: 1.1vw;
    margin-top: 0.5vw;
}

.header .line{
    border: 0.5px solid black;
    width: 100%;
    opacity: 0.5;
    margin: 0.5vw 0;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;

}

.form .input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.2vw;
}
.form .input label{
    font-size: 1.1vw;
}
.form .input input{
    height: 1.5vw;
    border: 2px solid red;
    border-radius: 3px;
    padding: 2px 5px;
    font-family: 'DynaPuff', cursive;
    
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.sumbit{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vw;
}
.sumbit button {
    background-color: var(--btnColor);
    border: none;
    color: white;
    height: 2vw;
    border-radius: 7px;
    font-family: 'DynaPuff', cursive;
    
}

.submit button:hover{
    box-shadow:  20px 20px 60px #007fd1,
                -20px -20px 60px #00abff;
}

.notif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s ease;
    transform-origin: top;
}

.none{
    display: none;
}

.notif p{
    text-align: center;
    margin: 0;
}

.notif p:nth-child(2){
    font-weight: bold;
    font-size: 29px;
    margin: 1vw 0;
    font-family: 'DynaPuff', cursive;
    letter-spacing: 2px;
    color: red;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 768px) {
    body{
        width: 90vw;
    }

    .header h1{
        font-size: 7.5vw;
    }
    .header p{
        font-size: 3vw;
    }
    .form .input label{
        font-size: 4vw;
    }

    .form .input input{
        height: 8vw;
    }
    .sumbit{
        margin-top: 2vh;
    }

    .sumbit button{
        height: 9vw;
        width: 20vw;
    }
}



.alert{
    width: 60%;
    height: 5%;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: red;
    border-radius: 2px;
    position: absolute;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 5px;
    left: 50%;
    animation: alertAnim 0.5s;
}

@keyframes alertAnim {

    0%{
        opacity: 0;
        top: -30px;
    }

    100%{
        opacity: 1;
    }
}